# Direct Query Question Analysis

The 8 `adl-benchmark` questions were listed [here](README.md). The details of the models used to run over them can be found [here](models.yaml). This notebook is an analysis of the results.

In [2]:
import pandas as pd

The CSV results are written into all the `direct-question-xx.md` files found in this same directory. Use the following command to build a `results.csv` file which we can read in:

```bash
python ./notebooks/adl-benchmarks/query-results-to-pandas.py ./notebooks/adl-benchmarks/direct-question-*.md
```

In [7]:
data = pd.read_csv("../../results.csv")
data.describe()

,Time (s),Prompt Tokens,Completion Tokens,Total Tokens,Estimated Cost ($),Attempts
count,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000
mean,69.061635,26945.673077,5205.509615,32151.182692,0.044625,2.105769
std,63.246728,12573.543038,6045.761022,16759.170674,0.049496,0.912888
min,4.290000,11639.000000,518.000000,12158.000000,0.001000,1.000000
25%,15.432500,11929.500000,1383.500000,14029.500000,0.009500,1.000000
50%,51.750000,26238.500000,3438.000000,30098.000000,0.025000,2.000000
75%,107.765000,38731.500000,6101.250000,44900.250000,0.065000,3.000000
max,319.660000,47529.000000,33525.000000,72598.000000,0.220000,3.000000

In [8]:
data.columns

Index(['Model(s)', 'Time (s)', 'Prompt Tokens', 'Completion Tokens',
       'Total Tokens', 'Estimated Cost ($)', 'Attempts', 'Result',
       'source_file'],
      dtype='object')

## Model Cost